.nav-item{
    cursor: pointer;
}

.fa-shopping-cart{
    color: white;

    &:hover{
       color: lightgray; 
    }
}

ul{
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #cacccc;
}