@import "../../../../assets/colors.scss";


.container-fluid{
  display: flex;
  justify-content: space-evenly;
  //margin-top: 30px;
}

.selling-products__category,
.selling-products__subcategory {
  cursor: pointer;
}
.selling-products__product-categories {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 200px;
  min-height: 80vh;
}

.selling-products__subcategories,
.selling-products__product-categories {
  list-style-type: none;
}

.selling-products__category {
  border-bottom: 1px solid $black;
  &:hover {
    background-color: $baby_powder;
  }
}

.selling-products__subcategory {
  &:hover {
    color: $red_rufous;
  }
}

.selling-products__products {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.selling-products__product{
  max-width: 200px;
  height: 350px;
}

.selling-products__info {
  text-align: center;
}

.product-thumb__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 15px;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border: 1px solid #cccccc;
    background-color: white;
  }
}

.product-thumb__img_img-thumbnail {
  width: 150px;
  height: 200px;
}

.product-thumb__fa-star {
  color: $mustard;
}

.selling-card {
  width: 300px;
}

.selling-products__init-title {
  text-align: center;
}

.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.product-price{
  color: blue;
}

.btn{
  margin-top: 10px;
}

.product-details{
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
}

.products-to-sell{
  width: 500px;
  display: flex;
  flex-direction: column;
}
