<div class="product-detail__wrapper" *ngIf="product">
    <div class="product_detail__product-card card">
        <div class="product-detail__general">
            <img [src]="'http://localhost:5000/' + product.slika" alt="picture" class="img img-fluid rounded mx-auto d-block product-detail__image">
            <div class="product-detail__rating_and_price">
                <div class="product-detail__rating-box">
                    <h3 *ngIf="!clickedOnRate">Ocena: {{product.ocena}}<i class="fas fa-star product-detail__fa-star" data-bs-toggle="tooltip" data-bs-placement="top" title="Rate this product" (click)="openRating()"></i></h3>
                    <div class="rating" *ngIf="clickedOnRate">
                        <p>Izaberite zeljenu ocenu</p>
                        <i class="fas fa-star product-detail__fa-star-for-rating" (click)="rateProduct(5)"></i>
                        <i class="fas fa-star product-detail__fa-star-for-rating" (click)="rateProduct(4)"></i>
                        <i class="fas fa-star product-detail__fa-star-for-rating" (click)="rateProduct(3)"></i>
                        <i class="fas fa-star product-detail__fa-star-for-rating" (click)="rateProduct(2)"></i>
                        <i class="fas fa-star product-detail__fa-star-for-rating" (click)="rateProduct(1)"></i>
                    </div>
                </div>
                <h3>Cena: {{product.cena}} rsd</h3>
                <button class="btn btn-success" (click)="addToCart()">Dodaj u korpu</button>
                <button class="btn btn-danger" (click)="removeFromCart()">Izbaci iz korpe</button>
            </div>
        </div>
        <hr>
        <div class="product-detail__description">
            <h4>Opis:</h4>
            <p>{{product.opis}}</p>
            <h4>Proizvodjac:</h4>
            <p>{{product.proizvodjac}}</p>
        </div>
    </div>
    <div class="product-detail__comments">
        <form #commentForm='ngForm' (submit)="leaveComment()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ostavite komentar</mat-label>
                <textarea matInput placeholder="Ex. Ovo je super proizvod!" [formControl]="userComment"></textarea>
            </mat-form-field>
            <button class="btn btn-success mx-3" type="submit"><i class="fas fa-share"></i></button>
        </form>
        <div class="product-detail__other-comments">
            <p *ngIf="!comments">Ovde bi se prikazali komentari da ih ima</p>
            <h4>Komentari:</h4>
            <div class="card product-detail__card" *ngFor="let comment of comments | async">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <span><small class="font-weight-bold text-primary">{{comment.username}} </small> 
                        <small class="font-weight-bold">{{comment.komentar}}</small>
                        <small>{{comment.ocena}} <i class="fas fa-star product-detail__fa-star"></i></small>
                        </span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
