<jw-modal id="login">
    <h3>Login</h3>
    <form class="form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">

        <mat-label>Password</mat-label>
        <input matInput type="password">
        </mat-form-field>
    </form>
    <button class="btn btn-success me-2" (click)="login()">Login</button>
    <button class="btn btn-danger" (click)="closeModalForLogin()">Close</button>
</jw-modal>

<jw-modal id="register">
    <h3>Register user</h3>
    <form class="form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefon</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Prezime</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
    <button class="btn btn-success me-2" (click)="register()">Register</button>
    <button class="btn btn-danger" (click)="closeModalForRegister()">Close</button>
</jw-modal>

<div class="homepage__container container">
    <div class="homepage__user-registration">
        <button class="btn btn-primary" (click)="openModalForLogin()">Log in</button>
        <span>Don't have an account? Click <a href="#" (click)="openModalForRegister()">here</a>!</span>
    </div>
</div>