<ul class="sidebar__product-categories">
    <li class="sidebar__category" *ngFor="let category of productCategories | async;  let i = index" (mouseenter)="toggleSubcategories(i)" (mouseleave)="hideSubcategories(i)">
        <h4 class="sidebar__category-name">{{category.categoryName}}</h4>
        <ul class="sidebar__subcategories" *ngIf="isSubcategoryShown[i]">
            <li (click)="moveToProductList(category.categoryName, subcategory)" *ngFor="let subcategory of category.subcategories" class="sidebar__subcategory">
                {{subcategory}}
            </li>
        </ul>
    </li>
</ul>
