<div class="product-categories">
    <div class="category" *ngFor="let category of productCategories | async;  let i = index" (mouseenter)="toggleSubcategories(i)" (mouseleave)="hideSubcategories(i)">
        <h4>{{i}}. {{category.categoryName}}</h4>
        <div class="subcategories" *ngIf="isSubcategoryShown[i]">
            <p (click)="moveToProductList(category.categoryName, subcategory)" *ngFor="let subcategory of category.subcategories">
                {{subcategory}}
            </p>
        </div>
    </div>
</div>
